/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 31 may. 2022, 6:20:20 p. m.
    Author     : Golcher

box-sizing: define el tamaño de nuestros contenedores según las medidas del border, margin, content y padding.
content-box: toma en cuenta, contenido, bordey padding para el calculo de la caja sumativa.
border-box: modifica los valores de contenido, para que coincida con nuestro ancho y alto.

position es una propiedad que nos permite desplazar o mover nuestros contenedores:

static: No se mueve, no importa las propiedades que le agregue.
relative: Es relativo en su posición.
fixed: Es fijo en la pantalla.
absolute: 
sticky:


*/


*{
    margin:0;
    padding:0;
}

.container{
    height:100vh;
    width:100%;
    background-image: url(../images/background.png);
    background-position:center;
    background-size:cover;
    padding-left:5%;
    padding-right:5%;
    box-sizing:border-box;
    position: relative;
}

.navbar{
    height:15vh;
    width:100%;
    margin:auto;
    display:flex;
    align-items:center;
}

.logo{
    width:160px;
    cursor:pointer;
}

nav{
    flex:1;
    padding-left: 60px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin:0px 20px;
}

nav ul li a{
    text-decoration: none;
    color: pink;
    font-size: 22px;
}

.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color:orange;
}

.content p{
    font-size: 20px;
    color:darkcyan;
}

.feature-png{
    height: 80%;
    position: absolute;
    bottom: 50px;
    right: 160px;
}